* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  color: #fff;
  /* font-family: 'silkserif-lightitalic-webfont'; */
  font-family: 'plain light';
  /* font-family: 'plain-regular-webfont';
  font-family: 'silkserif-regularitalic-webfont'; */
  }
  html,body {
  width:100%;
  height:100%;
  }
  body{
    overflow-x: hidden;
  }
  /* Hide scrollbar for Chrome, Safari and Edge */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Optional: You can set this to match the background */
  }
  
  #main{
    background-color: #151515;
    /* background-color: #030303; */
    position: relative;
  }
  
  #crsr{
    height: 2.7vw;
    width: 2.7vw;
    border: 1px solid #8b8b8b;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  /* #loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    } */
    html, body {
      overflow-x: hidden;
      overflow-y: auto; /* To ensure vertical scroll is available */
    }
    
    #loader {
      height: 100%;
      width: 100%;
      padding: 16vh 7vw;
      position: fixed;
      z-index: 999;
      background-color: #0B0B0B;
      cursor: none; /* Hide mouse cursor on loader */
  }
  .line {
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5vw;
  }
  #line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-left: 2vw;
  }
  #line1-part1 h5, #line1-part1 h6{
    font-size: 3.5vw;
    font-family: 'silk serif','serif'; 
    font-weight: 100;
    padding-bottom: 30px;
  }
  #line1-part1 h5{
    width: 5vw;
    text-align: right;
  }
  
  .line h1{
    font-size: 7vw;
    line-height: 7.3vw;
    text-transform: uppercase;
    font-weight: 900;
  }
  .line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 500;
  }
  #loader span{
    display: inline-block;
    overflow: hidden;
    padding-left: 1.8vw;
    width: 20vw;
  }
  #loading{
    display: inline-block;
  }
  #loader span h1{
    font-size: 7vw;
    line-height: 7.3vw;
    text-transform: uppercase;
    font-weight: 900;
    animation: animate 1s  1.2s 2;
  }
  @keyframes animate {
    0%{
      font-family: 'silk serif','serif'; 
      -webkit-text-stroke: 1px #fff;
      color: transparent;
      font-weight: 100;
      opacity: 1;
    }
    100%{
      font-family: 'silk serif','serif'; 
      -webkit-text-stroke: 1px #fff;
      color: transparent;
      font-weight: 100;
      opacity: 0;
    }
  }
  
  .wait{
    max-width: 100px;
    margin-top: 70px;
    margin-left: 300px;
  }
  
  #page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    /* background-color: #bc3b3b; */
    position: relative;
  }

#page1 #nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.6vw 5.5vw;
}
#nav-part2{
  display: flex;
  align-items: center;
  gap: 3vw;
}
#nav-part2 h4{
  font-weight: 100;
  font-size: 14px;
}
.hero{
  width: 72%;
  margin-left: 27%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.hero:nth-child(2){
  margin-top: 16vh;
}
.hero h1{
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
  letter-spacing: 0.3vw;
}
.hero h2 , h3{
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
  letter-spacing: 0.3vw;
}

#hero1::before{
  content: '01';
  left:18%;
  top:34%;
  font-size: 3.2vw;
  font-family: 'silk serif';
  position: absolute;
}
#hero3 h2{
  border-bottom: 8px solid #ffff;
  padding-bottom: 5px;
  transition: all ease 0.3s;
}

#hero3 h2:hover{
  font-weight: 300;
  -webkit-text-stroke: 0.3px rgb(255, 255, 255);
  color:transparent;
  border-bottom: 8px solid #ffffff00;
}
#web{
  margin-right: 10px;
}

#page2{
  height: 100vh;
  width: 100%;
  background-color: #151515;
  margin-top: 26vh;
  padding-top: 22vh;
  position: relative;
}

#video-container{
  height: 68vh;
  width: 73Vw;
  position: relative;
  left: 27%;
}
#video-cursor{
  height: 20vh;
  width: 10vw;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 68%;
  top: -13%;
  z-index: 1;
  background-color: #FFA63D;
}
#video-cursor i{
  font-size: 2.1vw;
}
#video-container img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#video-container video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page3{
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color:  #151515;
  /* background-color:  #342121; */
  padding: 8vh;
  margin-top: 12vh;
}
.page3-heading{
  margin-left: 27%;
}
#page3 h1{
  font-size: 6.6vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  margin: 5vw 0;
}
.page3-heading h1::before{
  content: '04';
  left:17%;
  top:15%;
  font-size: 3.2vw;
  font-family: 'silk serif';
  position: absolute;
}
.image-div-container{
  background-color: rebeccapurple;
  position: relative;
  padding: 1vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
}
.image-div{
  height: 24vw;
  height: 33vw;
  background-color: #3F7DF4;
  overflow: hidden;
  position: relative;
}
.image-div img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
#page4{
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color:  #151515;
  padding-top: 5vh;
}
#page4-content{
  width:68vw;
  margin-left:27%;
}
#page4-content h1{
  font-size: 6.6vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  margin: 5vw 0;
}
#page4-content>h1::before{
  content: '03';
  left:18%;
  top:5%;
  font-size: 3.2vw;
  font-family: 'silk serif';
  position: absolute;
}
.underline{
  height: 1px;
  width: 100%;
  background-color: #fff;
}
#page4-content>p{
  font-size: 2.3vw;
  width: 58%;
  margin-bottom: 3vw;
  line-height: 2.6vw;
  letter-spacing: 0.3px;
  margin: 4vw 0;
}
#page4-flex{
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 2vw;
}
#page4-flex img{
  width: 45%;
}
#page4-flex p{
  font-size: 1vw;
  line-height: 1.5vw;
}
.img-para{
  width: 27%;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
#reward-section{
  background-color: #3F7DF4;
  width: 34vw;
  position: relative;
  margin-top: -13vw;
  left: 31.2%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7.2vh 8.5vh 9.5vh 8.5vh;
  margin-bottom: 22vh;
}
#rewards-container{
  /* background-color: aqua; */
  width: 100%;
}
.reward-items{
  display: flex;
  justify-content: space-between;
  padding: 3vh 0;
  gap: 1vw;
  border-bottom: 1px solid #fff;
}
.reward-title{
  width: 100%;
  font-size: 4vh;
}
.reward-description{
  width: 100%;
  font-size: 2.1vh;
  display: flex;
  align-items: center;
}

#moving-text-container {
  /* background-color: #8b8b8b; */
  margin-top: 10%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Hide overflow */
}

#moving-text-container .moving-div {
  /* background-color: #18312a; */
  /* flex: 1; */
  line-height: 18vh;
  height: fit-content;
  display: flex;
  align-items: center;
  /* border: 1px solid white; */
  white-space: nowrap; /* Prevent text wrapping */
}
#moving-div1, #moving-div3{
  animation: scroll 18s linear infinite; /* Adjust speed as needed */
}
#moving-div2, #moving-div4{
  animation: scroll2 22s  linear infinite; /* Adjust speed as needed */
}
.moving-div span{
  -webkit-text-stroke: 0.8px #fff;
  color: transparent;
}
@keyframes scroll {
  0% {
    transform: translateX(4%);
  }
  100% {
    transform: translateX(-95%); /* Move left to half width */
  }
}
@keyframes scroll2 {
  0% {
    transform: translateX(-95%);
  }
  100% {
    transform: translateX(4%); /* Move left to half width */
  }
}
@keyframes scroll3 {
  0% {
    transform: translateX(4%);
  }
  100% {
    transform: translateX(-95%); /* Move left to half width */
  }
}
@keyframes scroll4 {
  0% {
    transform: translateX(4%);
  }
  100% {
    transform: translateX(-95%); /* Move left to half width */
  }
}
@keyframes scroll5 {
  0% {
    transform: translateX(4%);
  }
  100% {
    transform: translateX(-95%); /* Move left to half width */
  }
}
.moving-div span{
  font-size: 7vw;
  text-transform: uppercase;
  margin: 0 1.2vw;
}
.moving-div #text-serif{
  font-family: 'silk serif','serif'; 
}

#page5{
  min-height: 100vh;
  background-color:  #151515;

  width: 100%;
  position: relative;
  padding: 10vw 5vw 2vw 5vw;
}
.footer-heading {
  margin-left: 22%;
  height: max-content; /* Consider setting a fixed height if necessary */
  display: flex;
  align-items: center;
  line-height: 1; /* Consistent line height to prevent movement */
}
.footer-heading::before{
    content: '04';
    left:16%;
    top:21%;
    font-size: 3.2vw;
    font-family: 'silk serif';
    position: absolute;
  
}
.footer-heading span {
  font-family: 'Plain Light', sans-serif; /* Use a fallback font */
  font-size: 8vw;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block; /* Allows better control over spacing */
  letter-spacing: 1px; /* Keep letter spacing consistent */
  transition: font-family 0.2s ease, color 0.2s ease, webkitTextStroke 0.2s ease; /* Smooth transitions */
  /* Set a line-height that matches both fonts if you have specific line heights */
  line-height: 1.2; /* Set a fixed line-height to avoid shifts */
}

.footer-heading i{
  padding-left: 3vw;
  font-size: 6vw;
  color: transparent;
  -webkit-text-stroke: 0.8px #fff;
}
#footer-box{
  margin-left: 22%;
  margin-top: 5%;
  padding: 6.8vw 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  gap: 10vw;
}
#footer-box h6{
  font-size: 2.1vh;
  padding-bottom: 3vh;
}
.list-box ul li{
  font-size: 1.8vw;
  list-style: none;
  line-height: 3.8vh;
}
.list-box ul li a{
  color: #fff;
  text-decoration: none;
}
.address-box .address{
  font-size: 1.8vw;
  width: 100%;
}
.say-hello .hello{
  margin-right: 10vw;

}
.say-hello .hello a{
  font-size: 1.8vw;
  color: #fff;
  text-decoration: underline;
}
.copyright{
  /* text-align: center; */
  padding-top: 2vw;
  margin-left: 22%;
}
._canvas_container{
  z-index: 9999 !important;
  pointer-events: none;
}